<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="day01_understand.dao.TestModelMapper">
    <select id="selectAll" resultType="testModel">
        select *
        from user
    </select>

    <select id="selectEmployee" resultType="day01_understand.demo.Employee">
        select e.id, e.name, d.id as dept_id, d.name as dept_name
        from employee e
                 join dept d on e.dept_id = d.id
    </select>
</mapper>
